@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1 {
    font-family: "Inter", sans-serif;
    color: rgb(77, 137, 177);
}

.imagens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

img {
    height: 16rem;
    width: 16rem;
}

.botões {
    display: flex;
    justify-content: center; 
    margin-top: 3rem;
    gap: 2rem;
}

.ativo {
    border: .3rem solid rgb(233,22, 3);
}